extends layout

block content
	h1= dataTest.data.title
	figure
		img(src=dataTest.data.img, alt="")
	p=dataTest.data.desc
	ul
		- for(x=0;x<dataTest.data.list.length;x++)
			li
				- if(x==1)
					a(href="#") #{dataTest.data.list[x]} 123
				- else
					a(href="#") #{dataTest.data.list[x]}

	- for(x=0;x<dataTest.data.news.length;x++)
		.item
			h2=dataTest.data.news[x].name
			p=dataTest.data.news[x].desc
